# Build targets
**/target/
**/build/
**/bin/
**/out/

# IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.gradle/
local.properties
.project
.classpath
.settings/

# OS files
Thumbs.db
desktop.ini
.DS_Store

# Lombok/Annotation processors files
.apt_generated/
.apt_generated_tests/

# Temp files
*.log
*.tmp
*.bak
